html,
body,
#App,
#App>div {
    height: 100% !important;
    background-attachment: fixed;
}
body>#root>div {
    height: 100%;
    background-attachment: fixed;
}
.App {
    height: 100%;
    margin-left: auto;
    text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container-fluid {
    width: 88vh;
}
/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 12vw;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}
.dark > div.sidebar {
    background-color: #1f1e1e;
    background-attachment: fixed;
    color: white;
}
/* Sidebar links */
.sidebar a {
    display: block;
    color: black;
    padding: 2vw;
    text-decoration: none;
}
.dark > .sidebar a {
    color: whitesmoke;
}
.dark > .container-fluid {
    background-color: #1f1e1e;
    background-attachment: fixed;
}
.dark #theme-button > i , .App.dark #search-button{
    color: whitesmoke;
}

/* Active/current link */
.sidebar a.active {
    background-color: #04AA6D;
    color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
    margin-left: 12vw;
    padding: 1px 18px;
    width: 87vw;
    
}
@media screen and (max-width: 890px) {
    .dark > .container-fluid {
            height: 100vh;
            width: fit-content;
        }
}
/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
        margin-right: 0;
        width:100vw;
        min-height: 100vh;
    }
    
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}
input#searchInput:focus {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    outline: none;
}
img.responsive {
    width: 100%;
    height: auto;
}
.small {
    max-width: fit-content;
}
div.chat-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    top: 70%;
    right: 5%;
    height: 25vh;
    width: 20vw;
}
div.chat-toggle {
    border-radius: 3em;
}
div.chat-window {
    background-color: #e4e4e4;
    border-radius: 1em;
    padding: 0.5rem;
    height: 25vh;
    width: 15vw;
}
div.chat-message {
    border-radius: 1em;
    padding: 0.3rem;
}
div.chat-message-sent {
    background-color: #3771a0;
    float: right;
}
div.chat-message-received {
    background-color: #808183;
    float: left;
}
form.login-form {
    position: absolute;
    top: 40%;
    bottom: 40%;
    left: 40%;
    right: 40%;

    bottom: auto;
    align-items: center;
    height: 100vh;
}